
// h1, h2, h3, h4, h5, h6, p, body {
//  margin: 0;
// }
header {
 height: 500px;
 overflow: hidden;
 position: relative;
 color: white;
}
h1, h2, h3 {
    color: #305291;
    text-transform: uppercase;
}
header h1 p {
  text-align: center;
}
header ul li a {
  display: inline;
  color:#305291;
  float: right;
  margin-right: 5px;
}
video {
 min-width: 100%;
 min-height: 100%;
 position: absolute;
 z-index: -100;
}
p {
  text-align: center;
  color: white;
}
.ourpledge {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    background-color: #305291;
    height: 300px;
}
.issues {
  color:$background;
}
.issues p {
  color: $grey;
  line-height: 2em;
}
body article {
  width: 20.6%;
  display: inline-block;
  background-color: white;
  vertical-align: top;
  margin: 30px 1%;
  padding: 1%;
  padding-top: 30px;
  height: 300px;
}

body article p {
  font-family: sans-serif;
  color: #666666;
}
.fa {
    font-size: 30px;
    border: 1px solid #305291;
    color: #305291;
    padding: 10px;
    border-radius: 100%;
    width: 30px;
}
// .fa {
//     display: inline-block;
//     font: normal normal normal 14px/1 FontAwesome;
//     font-size: inherit;
//     text-rendering: auto;
//     -webkit-font-smoothing: antialiased;
//   }
// .fa-power-off:before {
//     content: "\f011";
// }
.icon-container {
  background-color: #f2f2f2;
}
.main-body {
  background-color: #f2f2f2;
}

// article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
//     display: block;
// }

footer p {
    display: inline-block;
    width: 33%;
    text-align: center;
    color: #305291;
}
footer {
    border-top: 1px solid gray;
    padding-top: 20px;
}
